*{
    margin: 0px ;
    padding: 0px ;
}
body{
    font-family:lato;
 
}
.section-tittle{
    display: flex;
align-items: center;
justify-content: center;
background: rgba(136, 32, 55, 0.1);
}

.p-tag{
width: 634px;
flex-direction: column;
}
.left{ 
 padding-bottom: 200px;
padding-left: 300px;
/* line-height: 25px; */
width: 708px;
padding-top:10px ;
}

.img{ display:flex;
padding-top: 50px;
width:500px;

padding-right: 230px;
}
.heder-tittle{ display: flex;
  
 font-weight:800px;
    width:208px; 
} 


.btn{ 
  
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 33px;
    /* gap:10px; */
    border-radius: 8px;
    background: #E55473;}


.bonus-section{

}
.bonus-text{
    text-align: center;
    padding:100px 600px 10px 600px;
    font-weight: 400;

width: 424px;

}
.box{ 
    padding-top:20px ;
    padding-left: 150px;
    display: flex;
    width: 464px;
    height: 438px; 
    column-gap: 30px; 
}

.st{
    border-radius: 250px 250px 0px 0px;
    background: rgba(167, 33, 98, 0.15); 
padding:110px 74px 0px 76px ;

}
.nd{
border-radius: 250px 250px 0px 0px;
padding:110px 41px 51px 41px ;
background: rgba(5, 151, 160, 0.15);
}
.ed{
    border-radius: 250px 250px 0px 0px;
background: rgba(71, 125, 17, 0.15);
padding: 67px 75px 0px 75px;
}
.tree-head{
    display: flex;
}
.tree-name{
    display: flex;
    color: #272727;
font-family: Lato;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
padding-left:270px;
padding-top:13px;

}
.tree-name-{
    padding-top: 20px;
    display: flex;
    color: #272727;
font-family: Lato;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 20px;
text-decoration-line: underline;
padding-left:275px;

}
.tree-name--{
    padding-top: 20px;
    display: flex;
    color: #272727;
font-family: Lato;
font-size: 15px;
font-weight: 700;
line-height: 20px;
text-decoration-line: underline;
padding-left:290px;

}