*{
    margin: 0px ;
    padding: 0px ;
}
body{
    font-family:lato;
 
}
.section-tittle{
    display: flex;
align-items: center;
justify-content: center;
background: rgba(136, 32, 55, 0.1);
}

.p-tag{
width: 634px;
flex-direction: column;
}
.left{
 padding-bottom: 200px;
padding-left: 300px;
/* width: 708px; */
padding-top:10px ;
}

.img{ display:flex;
padding-top: 50px;
width:500px;

padding-right: 230px;
}
.heder-tittle{ display: flex;

    font-weight:bolder;
    width:200px;
}


.btn{ 
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 33px;
    gap:10px;
    border-radius: 8px;
    background: #E55473;}